# Binaries
*.o
*.so
*/*.o
*/*/*.o
*.a
*.framework
*.exe
*.dll
*.swp
*.pdb
build/
CMakeLists.txt.user
cmake_install.cmake
*.orig
*.cbp
*.dsw
*.vsxproj
*.vsproj
*.sln
# Android stuff
android/libs/*
android/bin/*
android/gen/*
android/obj/*
android/assets/extras.pak
*.keystore
